<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ip" value="127.0.0.1"/>
    <add key="port" value="9000"/>
    <add key="SalonEmail" value="beauty.house.salon24@gmail.com"/>
    <add key="SalonPass" value="ilii plzs hfmx qtvz"/>
    <add key="VlasnikEmail" value="jovanovick25@gmail.com"/>
    <add key="VlasnikIme" value="Kristina"/>
    <add key="PortSmtp" value="587"/>
    <add key="HostSmtp" value="smtp.gmail.com"/>
  </appSettings>
</configuration>